<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appbanhang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppbanHang"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".XemDonAdminActivity"
            android:exported="false" />
        <activity
            android:name=".XemDonActivity"
            android:exported="false" />
        <activity
            android:name=".ThongKeActivity"
            android:exported="false" />
        <activity
            android:name=".addproductActivity"
            android:exported="false" />
        <activity
            android:name=".ThemSPActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ThanhToanActivity"
            android:exported="false" />
        <activity
            android:name=".DangNhapActivity"
            android:exported="false" />
        <activity
            android:name=".DangKiActivity"
            android:exported="false" />
        <activity
            android:name=".GioHangActivity"
            android:exported="false" />
        <activity
            android:name=".ChitietnActivity"
            android:exported="false" />
        <activity
            android:name=".PizaActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>